/node_modules
/public/_foundation/bower_components
/public/_foundation/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
yhog.code-workspace